@import "tailwindcss";

:root {
  /* The "Canvas" */
  --background: #ffffff;
  
  /* The "Ink" */
  --foreground: #000000; 
  
  /* Sub-headings and supporting info */
  --text-muted: #455a64; 
  
  /* For subtle borders or card backgrounds */
  --surface: #f7f7f7; 
  
  /* Your brand "Action" color */
  --primary: #b0bec5; 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f7f7f7;
    --foreground: #273238;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
